@import '../../styles/variables';

.services {
  padding-top: 50px;
  .section-title{
    margin-bottom:120px;
    position: relative;

    small{
      color:$red;
      letter-spacing:4px;
      font-weight:700;
      font-size: 1rem;
    }

    h2{
      font-size:2rem;
      margin:20px 0;
      font-weight:900;

      span{
        color:$sky-blue;
      }
    }

    p{
      color:$text;
      max-width:700px;
      line-height:1.8; 
      font-size: 1.2rem;
    }
  }

  .services-grid{
    display:grid;
    grid-template-columns:repeat(4,minmax(0,1fr));
    gap:25px;
  }

  .service-card{
     cursor:pointer;
    background:$card-bg;
    border:1px solid $border;
    border-radius:24px;
    overflow:hidden;
    transition:.4s;
    

    &:hover{
      transform:translateY(-10px);
      border-color:$cyan;
      box-shadow:$shadow-blue;
    }

    .service-image{
      height:220px;
      background:
      linear-gradient(
        135deg,
        #0f172a,
        #020617
      );

      display:flex;
      justify-content:center;
      align-items:center;

      .img-services{
        min-height: 100%
      }
    }

    .service-content{
      padding:25px;

      h3{
        font-size:1.2rem;
        margin-bottom:15px;
      }

      p{
        color:$text;
        line-height:1.7;
        font-size: 1rem;
      }
    }
  }
}

.floating-services{

  width: 350px;
  height:350px;

  position:absolute;

  right:120px;

  top: -50px;
  animation:
    floatLaptopLogo 4s ease-in-out infinite;
  
  filter:
    drop-shadow(0 0 12px rgba(0,217,255,.8))
    drop-shadow(0 0 35px rgba(0,217,255,.45));


}
.modal-overlay{

  position:fixed;

  inset:0;

  background:rgba(0,0,0,.75);

  backdrop-filter:blur(8px);

  display:flex;

  justify-content:center;

  align-items:center;

  z-index:999;

}

.modal{

  position:relative;

  width:90%;

  max-width:500px;

  background:#071225;

  border:1px solid rgba(255,255,255,.08);

  border-radius:30px;

  padding:40px;

  text-align:center;

}

.close-btn{

  position:absolute;

  top:20px;

  right:20px;

  background:none;

  border:none;

  color:white;

  font-size:1.7rem;

  cursor:pointer;

}

.modal-image{

  display:flex;

  justify-content:center;

  margin-bottom:25px;

}

.modal-image img{

  width:140px;

}

.whatsapp-btn{

  margin-top:25px;

  background:#ff1e1e;

  color:white;

  border:none;

  padding:15px 35px;

  border-radius:30px;

  font-weight:700;

  cursor:pointer;

}
@media(min-width:2000px){
  .container{
    min-width:2000px;
    .section-title{

      small{
        font-size: 2.2rem !important;
      }

      h2{
        font-size:3.5rem !important;
        max-width: 800px !important;
      }

      p{
        max-width:800px !important;
        font-size: 2.2rem !important;
        text-align: justify;
      }
      .floating-services{
          width:700px;
          height:700px;
          right:100px;
          top:-90px;
      }
    }
    .services-grid{

      margin-top: 250px;
    

      .service-card{
        height: 750px;

        .service-left{    
          .service-image{
            height: 400px;
          }
          .service-content{

            h3{
              font-size:2rem !important;
            }

            p{
              font-size: 2rem !important;
              text-align: justify !important;
              text-wrap: pretty;           /* Optimiza el empaquetado del párrafo para evitar ríos de espacio */
              letter-spacing: -0.02em;     /* Junta sutilmente las letras para dar margen al espacio entre palabras */

            }
          }
        }
      }
    }
  }


}
@media(max-width:1100px){

  .container{
   
    .section-title{
      padding-left: 30px;

      small{
        font-size:0.9rem !important;
      }

      h2{
        font-size:1.8rem !important;
        max-width: 500px !important;
      }

      p{
        max-width:400px !important;
        font-size: 0.9rem !important;
        text-align: justify;
      }
      .floating-services{
          width:300px;
          height:300px;
          right:100px;
          top:-30px;
      }
    }
    .services-grid{

      grid-template-columns:repeat(2,1fr);
    
      .service-card{
        height: 470px;
        .service-left{   
          display:flex;
          flex-direction:column;
          
          .service-image{
            height: 300px;
            display:flex;
            justify-content:center;
            align-items:center;
            overflow:hidden;
          }
          .service-image img{
            width:100%;
            height:fit-content;
            object-fit:contain;
          }
          .service-content{
            
            h3{
              font-size:1.5rem !important;
            }

            p{
              font-size: 0.9rem !important;
              text-align: justify !important;
              text-wrap: pretty;           /* Optimiza el empaquetado del párrafo para evitar ríos de espacio */
              letter-spacing: -0.02em;     /* Junta sutilmente las letras para dar margen al espacio entre palabras */

            }
          }
        }
      }
    }
  }
}

@media(max-width:768px){

  .services{
    padding-top: 5px;
    .section-title{
    small{
      font-size: 0.8rem !important; 
    }
    h2{
      font-size:1.3rem !important;
      margin:2px 0px;
      font-weight:900;
      max-width: 300px !important;
    }
    p{
      max-width:280px !important;
      line-height:1.8; 
      font-size: 0.8rem !important;
    }
    .floating-services{
      width: 230px;
      height:230px;
      position:absolute;
      right:20px;
      top:-40px;
      animation:
        floatLaptopLogo 4s ease-in-out infinite;
      filter:
        drop-shadow(0 0 12px rgba(0,217,255,.8))
        drop-shadow(0 0 35px rgba(0,217,255,.45));
    }
  }
  .services-grid{
    display:flex;
    flex-direction:column;
    gap:14px;
    margin-top:10px;
    .service-card{
      width:100%;
      min-width:100%;
      max-height: fit-content;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
    .service-left{
        display:flex !important;
        flex-direction:row !important;
        gap:0px;
        width:100%;
        max-height:100px;
        .service-image{
            max-width:20%;
            height: 80%;
           
            span{
              font-size: 1.5rem !important;
            }
        }
        .service-content{
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: -10px;
            h3{
              font-size:0.8rem !important;
              margin-bottom: 0px !important;
            }
            p{
              display:flex;
              font-size: 0.8rem !important;
            }
        }
    }
  }
}
}
}
