@import '../../styles/variables';

.navbar{
  position:sticky;
  top:0;
  z-index:1000;

  background:rgba(0,0,0,.45);

  backdrop-filter:blur(18px);

  border-bottom:1px solid $border;

  .navbar-container{
    height:95px;

    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .logo{

  img{
    width:220px;
    object-fit:contain;
  }

}

  nav{
    display:flex;
    gap:40px;

    a{
      color:white;
      text-decoration:none;
      font-size:.9rem;
      font-weight:600;
      transition:$transition;

      &:hover{
        color:$cyan;
      }
    }
  }

  button{
    background:$red;
    color:white;

    border:none;

    padding:16px 26px;

    border-radius:14px;

    display:flex;
    align-items:center;
    gap:10px;

    font-weight:700;

    cursor:pointer;

    box-shadow:$shadow-red;

    transition:$transition;

    &:hover{
      transform:translateY(-3px);
    }
  }
}

@media(max-width:1100px){

  .navbar{

    nav{
      display:none;
    }

  }

}