@import './variables';

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:$bg-primary;
  color:$white;
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;
}

body::before{
  content:'';
  position:fixed;
  inset:0;

  background:
  radial-gradient(
    circle at top right,
    rgba(0,212,255,.15),
    transparent 35%
  ),

  radial-gradient(
    circle at bottom left,
    rgba(255,22,22,.10),
    transparent 35%
  );

  z-index:-1;
}

.container{
  width:92%;
  max-width:1450px;
  margin:auto;
}

img{
  width:100%;
  display:block;
}

section{
  padding:80px 0;
}
html,
body{
  width:100%;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}