@import './variables';

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:$bg-primary;
  color:$white;
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;
}

body::before{
  content:'';
  position:fixed;
  inset:0;

  background:
  radial-gradient(circle at top right,
  rgba(17,217,255,.10),
  transparent 25%),

  radial-gradient(circle at bottom left,
  rgba(255,49,49,.08),
  transparent 25%);

  z-index:-1;
}

.container{
  width:92%;
  max-width:1450px;
  margin:auto;
}

img{
  width:100%;
  display:block;
}

section{
  padding:80px 0;
}