@import '../../styles/variables';

.about{

  position: relative;

  min-height: 700px;

  display: flex;
  align-items: center;

  background-size: 100%;
  background-position: right 10%;
  background-repeat: no-repeat;

  overflow: hidden;

  .about::before{

    content:'';

    position:absolute;

    inset:0;

    background:
      linear-gradient(
        90deg,
        rgba(0,0,0,.90) 0%,
        rgba(0,0,0,.70) 35%,
        rgba(0,0,0,.35) 70%,
        rgba(0,0,0,.15) 100%
      );

    z-index:1;
  }

  .about-container{

    display:block;
  }

  .about-left{

    small{
      color:$red;
      letter-spacing:4px;
      font-weight:700;
      font-size: 1rem;
    }

    h2{
      font-size:2rem;
      margin:20px 0;
      font-weight:900;
      width: 400px;

      span{
        color:$sky-blue;
      }
    }

    p{
      color:$text;
      line-height:1.9;
      margin-bottom:40px;
      width: 520px;
      font-size: 1.2rem;
    }

    .about-list{
      display:flex;
      flex-direction:column;
      gap:20px;
    }

    .about-item{
      display:flex;
      align-items:center;
      gap:15px;

      span{
        width:14px;
        height:14px;
        border-radius:50%;
        background:$red;
        box-shadow:$shadow-red;
      }

      p{
        margin:0;
        font-size: 1.1rem;
      }
    }
  }
  .about-box{

    display:flex;
    align-items:flex-start;
    gap:18px;
    position:absolute;
    bottom:150px;
    left:700px;

    background:rgba(10,15,35,.72);

    border:1px solid rgba(255,255,255,.08);

    padding:10px 25px;

    width:300px;

    border-radius:20px;

    cursor:pointer;

    transition:.3s ease;

    animation:
      floatLaptopLogo 4s ease-in-out infinite;

    filter:
      drop-shadow(0 0 12px rgba(0,217,255,.4))
      drop-shadow(0 0 35px rgba(0,217,255,.1));

    &:hover{

      transform:translateY(-6px);

      border-color:#00d9ff;

      box-shadow:0 0 20px rgba(0,217,255,.2);
    }

    .about-floating-card{

      margin-bottom:2px;
      color:white;
  
      line-height:1.5;
      letter-spacing:.1px;
      font-size: 1.2rem;
    }

    .about-icon{

      color:#00d9ff;

      width:80px;
      height:80px;

      margin-top:10px;

      transition:.3s ease;

      &:hover{

        transform:scale(1.1);

        filter:
        drop-shadow(0 0 10px #00d9ff);
      }
    }
  }
}
@media(min-width:2000px){
.about-left{
    margin-top: 80px;
    small{
      font-size: 2.2rem !important;
    }

    h2{

      font-size:3.5rem !important;
      min-width: 800px !important;
    }
    .about-left-p{
      font-size: 2.2rem !important;
      min-width: 800px;
    }
    .about-list{
      margin-top: 80px;
      .about-item{
        p{
          font-size: 2rem !important;
          min-width: 800px !important;
        }
      }
    }
  }
  .about-box{
    bottom: 80px !important;
    left: 1300px !important;
    width: 550px !important;
    .about-floating-card{
      font-size: 2.4rem !important;
    }
    .about-icon{
      width:100px !important;
      height:100px !important;
    }
  }
}
@media(max-width:1100px){
.about-left{
   
    margin-left: 20px;
    small{
      font-size: 0.9rem !important;
    }
    h2{
      font-size:1.8rem !important;
      max-width: 500px !important;
    }
    .about-left-p{
      font-size: 0.9rem !important;
      max-width: 400px;
    }
    .about-list{
      margin-top: 20px;
      margin-left: 30px;
      .about-item{
        p{
          font-size: 0.9rem !important;
          min-width: 800px !important;
        }
      }
    }
  }
  .about-box{
    bottom: 210px !important;
    left: 620px !important;
    width: 200px !important;
    .about-floating-card{
      font-size: 1rem !important;
    }
    .about-icon{
      margin-top:0px !important;
      width:80px !important;
      height:80px !important;
    }
  }
}
@media(max-width:768px){

  .about{
    min-height: auto;
    display: flex;
    padding-top:0px;
    padding-bottom: 100px;
    margin-bottom: 60px;
    background-size: 100%;
    background-position: right 40%;
    background-repeat: no-repeat;
    overflow: hidden;
  .about-left{
    padding-top: 25px;
    padding-left: 5px;
    small{
      letter-spacing:2px;
      font-weight:700;
      font-size: 0.8rem !important;
    }
    h2{
      font-size:1.3rem !important;
      margin:20px 10px 20px !important;
      font-weight:900;
      max-width: 300px !important;
    }
    .about-left-p{
      display: none;
    }
    .about-list{
      display:flex;
      flex-direction:column;
      gap:3px;
      margin-left: 10px;
    }
    .about-item{
      gap: 10px;
      span{
          width: 10px !important;
          height: 10px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
      p{
        font-size: .8rem !important;
        max-width: 150px;
      }
    }
  }
  .about-box{
    display:flex;
    align-items:center;
    gap:10px;
    position:absolute;
    bottom:75px !important;
    left:430px !important;
    background:rgba(10,15,35,.72);
    border:1px solid rgba(255,255,255,.08);
    padding:0px 25px;
    max-width:200px;
    border-radius:20px;
    cursor:pointer;
    transition:.3s ease;
    animation:
      floatLaptopLogo 4s ease-in-out infinite;
    filter:
      drop-shadow(0 0 12px rgba(0,217,255,.4))
      drop-shadow(0 0 35px rgba(0,217,255,.1));
    &:hover{
      transform:translateY(-6px);
      border-color:#00d9ff;
      box-shadow:0 0 20px rgba(0,217,255,.2);
    }
    .about-floating-card{
      font-size: .8rem !important;
    }
    .about-icon{
      width:30px;
      height:30px;
      margin-top:0px;
      transition:.3s ease;
      &:hover{
        transform:scale(1.1);
        filter:
        drop-shadow(0 0 10px #00d9ff);
      }
    }
  }
}

}