$bg-primary: #020817;
$bg-secondary: #07111f;
$card-bg: #0f172a;

$cyan: #004AAD;
$yellow: #FFDE59;
$red: #FF1616;
$white: #ffffff;
$text: #94a3b8;

$border: rgba(255,255,255,.08);

$shadow-blue:
0 0 20px rgba(17,217,255,.25);

$shadow-red:
0 0 20px rgba(255,49,49,.25);

$transition: .4s ease;