@import '../../styles/variables';

.sidebar{
  background:rgba(15,23,42,.9);

  border:1px solid $border;

  border-radius:28px;

  padding:30px;

  backdrop-filter:blur(20px);

  display:flex;
  flex-direction:column;
  gap:30px;

  min-height:760px;

  box-shadow:$shadow-blue;

  .sidebar-top{

    small{
      color:$cyan;
      letter-spacing:4px;
      font-size:.7rem;
      font-weight:700;
    }

    h2{
      font-size:4rem;
      margin:20px 0;

      font-family:'Orbitron',sans-serif;
      font-weight:900;

      span{
        color:$red;
      }
    }

    p{
      color:$text;
      line-height:1.8;
      margin-bottom:30px;
    }

    button{
      width:100%;

      background:$red;

      border:none;

      color:white;

      padding:18px;

      border-radius:16px;

      display:flex;
      justify-content:center;
      align-items:center;
      gap:12px;

      font-weight:700;

      cursor:pointer;

      box-shadow:$shadow-red;
    }
  }

  .sidebar-services{
    display:flex;
    flex-direction:column;
    gap:15px;
  }

  .sidebar-item{
    background:#09111f;

    border:1px solid rgba(255,255,255,.05);

    border-radius:16px;

    padding:18px;

    display:flex;
    align-items:center;
    gap:15px;

    transition:$transition;

    &:hover{
      border-color:$cyan;
      transform:translateX(6px);
    }

    svg{
      color:$cyan;
      font-size:1.2rem;
    }

    span{
      font-size:.95rem;
      font-weight:500;
    }
  }

  .sidebar-card{
    margin-top:auto;

    background:
    linear-gradient(
      135deg,
      rgba(17,217,255,.15),
      rgba(255,49,49,.08)
    );

    border-radius:22px;

    padding:30px;

    border:1px solid rgba(255,255,255,.08);

    h3{
      line-height:1.5;
      font-size:1.5rem;
    }
  }
}

@media(max-width:1100px){

  .sidebar{
    min-height:auto;
  }

}
.sidebar-logo{

  img{
    width:220px;
    object-fit:contain;
  }

}