@import '../../styles/variables';

.features-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.feature-card{
  background:$card-bg;
  border:1px solid $border;
  border-radius:20px;
  padding:30px;
  transition:.4s;

  &:hover{
    transform:translateY(-10px);
    box-shadow:$shadow-blue;
    border-color:$cyan;
  }

  span{
    font-size:3rem;
  }

  h3{
    margin:15px 0;
  }

  p{
    color:$text;
  }
}

@media(max-width:992px){

  .features-grid{
    grid-template-columns:repeat(2,1fr);
  }

}

@media(max-width:650px){

  .features-grid{
    grid-template-columns:1fr;
  }

}